*{
    margin:0;
    padding:0;
}

body{
    position: relative; 
    min-height: 100vh;
}
.underConstruction{ 
    min-height: 90vh;
    background-image: url("../media/underConstruction.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}