*{
    margin:0;
    padding:0;
}

body{
    position: relative; 
    min-height: 100vh;
}
.main-conImagen{
    background-image: url("../media/background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;;
    animation: fadeIn 2s ease;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);
    }

    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}
.underConstruction{ 
    min-height: 90vh;
    background-image: url("../media/underConstruction.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}