/* -------------------- Seccion de inicio ---------------------- */
.primeraFila{
    background-color: rgb(12, 12, 12);
}
.h1Main{
    color: white;
}
.p1Main{
    color: #dbdbdb;
}
.segundoDatos{
    background-color: rgb(16,16,16);
}
.terceroDatos{
    background-color: rgb(22, 22, 22);
}

