/* -------------------- Seccion de preguntas ------------------ */  

.h1Preguntas{
    text-align: center;
    padding-top: 1%;
}

.divPreguntas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cajaPreguntas{
    margin: 20px;
    h2{
        margin-left: 1%;
    }
}

.btnCotizaContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.btnCotiza{
    display: flex;  
    width: 30vh;
    text-align: center;
    justify-content: center;
    background-color: #429EA6;
    padding: 0.5rem 1rem;
    border: 5px solid #ffffff;
    outline: none;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    a{
        &:link{
            text-decoration: none;
        }
        &:hover{
            color: blue;
        }
    }
}

