@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
}

.underConstruction {
  min-height: 90vh;
  background-image: url("../media/underConstruction.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
}

/* ------------NAV BAR--------- */
.navbar {
  background-color: black !important;
}

.logoNav {
  width: 350px;
  height: 150px;
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  outline: none;
  box-shadow: none;
  border: 0;
  /* cuando clickeamos hace este cambio para convertirlo en X*/
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: 0;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* cuando esta colapsado se ve de esta manera */
.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

/* =========== MENU ============ */
.nav-item a:focus {
  color: white;
}
.nav-item a:visited {
  color: white;
}
.nav-item a:link {
  color: white;
}
.nav-item a:active {
  color: #429EA6;
}
.nav-item a:hover {
  color: blue;
}

a.currentPage {
  color: #429EA6;
}

.navSignIn:hover {
  color: blue;
}

/* ---------------------------/NAVBAR--------------------------- */
/* ---------------------------FOOTER--------------------------- */
footer {
  display: flex;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(19, 19, 19);
}

.direccionFooter {
  font-family: "Lato", sans-serif;
  font-weight: 50;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
}
.direccionFooter a:link {
  text-decoration: none;
  color: white;
}
.direccionFooter a:visited {
  color: white;
}
.direccionFooter a:hover {
  color: blue;
}
.direccionFooter a:active {
  color: white;
}

/* ---------------------------/FOOTER--------------------------- */
/* -------------------- Seccion de inicio ---------------------- */
.primeraFila {
  background-color: rgb(12, 12, 12);
}

.h1Main {
  color: white;
}

.p1Main {
  color: #dbdbdb;
}

.segundoDatos {
  background-color: rgb(16, 16, 16);
}

.terceroDatos {
  background-color: rgb(22, 22, 22);
}

/* -------------------- Seccion de preguntas ------------------ */
.h1Preguntas {
  text-align: center;
  padding-top: 1%;
}

.divPreguntas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cajaPreguntas {
  margin: 20px;
}
.cajaPreguntas h2 {
  margin-left: 1%;
}

.btnCotizaContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btnCotiza {
  display: flex;
  width: 30vh;
  text-align: center;
  justify-content: center;
  background-color: #429EA6;
  padding: 0.5rem 1rem;
  border: 5px solid #ffffff;
  outline: none;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.btnCotiza a:link {
  text-decoration: none;
}
.btnCotiza a:hover {
  color: blue;
}

.main-conImagen {
  background-image: url("../media/background.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.formUltimo {
  padding-top: 60vh;
}

.formContactos {
  padding-left: 10vh;
}

@media screen and (max-width: 990px) {
  footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .direccionFooter {
    opacity: 0;
  }
  .formUltimo {
    padding-top: 50vh;
  }
}
@media screen and (max-width: 575px) {
  .formUltimo {
    padding-top: 43vh;
  }
}
@media screen and (max-width: 500px) {
  .logoNav {
    width: 300px;
    height: 150px;
  }
  .formUltimo {
    padding-top: 39vh;
  }
}
@media screen and (max-width: 420px) {
  .logoNav {
    width: 180px;
    height: 100px;
  }
  .formUltimo {
    padding-top: 30vh;
  }
}/*# sourceMappingURL=sass.css.map */